.butonul {
	opacity: 0;
	animation: 
		fadeInUp 2s ease 
		20s forwards;

	text-decoration: none;
}

@keyframes fadeInUp {
	to {
		opacity: 1;
		transform: translateY(260px);
	}
}

#cireasa {
	display: inline-block;
	font-size: 52px;
	color: red;
	background-image: linear-gradient(90deg, red, blue);
	background-size: 0% 3px;
	background-repeat: no-repeat;
	background-position: left bottom;
	transition: background-size 500ms ease;
}

#cireasa:hover {
	background-size: 100% 3px;
}